*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/jar-sms/build/
/buildSrc/build/
/feature-gold-lease/build/
/feature-mandate-payment-common/build/
/feature-buy-gold/build/
/feature-in-app-review/build/
shared/build/
shared/core-preferences/build
shared/core-analytics/build
shared/core-remote-config/build
shared/core-network/build
shared/core-base/build
shared/feature-user-api/build
shared/feature-weekly-magic-common/build
shared/feature-settings/build
shared/feature-weekly-magic/build
shared/feature-gifting/build
shared/feature-one-time-payments/build
shared/feature-one-time-payments-common/build
shared/feature-gold-price/build
shared/feature-sell-gold/build
shared/feature-round-off/build
shared/feature-post-setup/build
shared/feature-gold-sip/build
allShared/build/
shared/feature-profile/build
shared/feature-onboarding/build
shared/feature-gold-redemption/build
shared/feature-refer-earn-v2/build
shared/feature-homepage/build
shared/feature-buy-gold-v2/build
shared/feature-gold-price-alerts/build
shared/feature-spends-tracker/build
shared/core-logger/build
shared/feature-in-app-notification/build
shared/feature-sell-gold-common/build
shared/feature-transaction/build
shared/feature-transaction-common/build
shared/feature-health-insurance/build
shared/feature-gold-delivery/build/
/shared/feature-buy-gold-v2/build/generated/moko/commonMain/src/com/jar/app/feature_buy_gold_v2/shared/MR.kt
/shared/feature-spends-tracker/build/generated/moko/commonMain/src/com/jar/app/feature_spends_tracker/shared/MR.kt
shared/feature-buy-gold-v2/build/generated/moko/commonMain/src/com/jar/app/feature_buy_gold_v2/shared/MR.kt
shared/feature-spends-tracker/build/generated/moko/commonMain/src/com/jar/app/feature_spends_tracker/shared/MR.kt
shared/feature-daily-investment-cancellation/build
shared/feature-mandate-payments-common/build
feature-daily-investment-cancellation/build
shared/feature-kyc/build/
shared/feature-lending-kyc/build/
shared/feature-lending/build/
shared/feature-contact-sync-common/build/
shared/feature-jar-duo/build/
shared/feature-spin/build/
shared/feature-gold-lease/build
shared/feature-quests/build/
shared/feature-coupon-api/build/

shared/feature-coupon-api/build/
shared/feature-promo-code/build/
shared/feature_daily_investment/build/
shared/feature-savings-common/build/
feature-savings-common/build/
shared/feature-daily-investment/build/
shared/feature-daily-investment-cancellation/build/
feature-savings-common/build
# Java class files
*.class
changejarprod_app_distribution.json